@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.main {
  padding:3em;
}


.grid
{
  margin:auto;
  display: grid;
  padding: 4em;
  width: 60%;
 /* grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 200px);*/
  grid-template-areas: 
 'top top top top'
 'typo typo typo img'
 'empty text text text'
 'empty empty text text';
}

.grid img{
  width:300px;
}
.holder1 {
  grid-area:top;
  
}

.holder2 {
  grid-area: typo;
}

.verticalholder1{
  grid-area:img;
  display: flex;
  flex-direction: column;
}

.holder3{
  grid-area: text;
  display: flex;
  flex-direction: row;
}

.horizontalholder{
  display: flex;
  flex-direction: row;
}

.verticalholder2{
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 10em;
  color: white;
}

h2{
  font-size: 6em;
  color: white;
}
h3{
  font-size:2em;
  color: white;
}

p{
  font-size: 18px;
   color: white;
}